Hi everyone! Hope you had a good first assignment.
Today we'll start working with data tables using Python's pandas library.
As per usual, let us know if you have any questions.

Pandas is a package that comes with many built in tools for examining and manipulating data. We'll use this package a lot throughout this course to help us read in and access our data.

In [5]:
import pandas as pd

Today we'll be learning about a data structure called a DataFrame. A DataFrame is a two-dimensional data structure, meaning that it has tables and columns.

Written generally, a pandas DataFrame constructor looks like this:

In [2]:
#pandas.DataFrame( data, index, columns, dtype, copy)

Though you can initialize a DataFrame with many different types of data, we will be looking specifically at lists. How can we pass in lists to a DataFrame?

In [3]:
# Here are two arrays of data to work with
x_values = [0, 1, 2, 3, 4]
y_values = [i*2 for i in x_values] # results in [0, 2, 4, 6, 8]

Now that we have two lists, we can combine them in a DataFrame like this:

In [6]:
df = pd.DataFrame(x_values, y_values)

In [7]:
# Let's print it!
print(df)

   0
0  0
2  1
4  2
6  3
8  4

Notice that the x-values are the first column and the y-values are the second. This is because, according to the constructor, we passed in the y-values as the "index". Can you set the x-values as the index instead?

In [19]:
# set x-values as index
#df = pd.DataFrame()
#print(df)

   0
0  0
1  2
2  4
3  6
4  8

Let's say the x-values are position data and the y-values are velocity. The following code should label that.

In [20]:
df.columns = ['velocity']
print(df)

   velocity
0         0
1         2
2         4
3         6
4         8

We can also label the index (position values) similarly. Since the x_values are an index and not another data set, we'll have to use slightly different syntax.

In [30]:
df = pd.DataFrame({'position': x_values, 'velocity': y_values})
#print(df)

   position  velocity
0         0         0
1         1         2
2         2         4
3         3         6
4         4         8

Basically, we just restructured the DataFrame. Instead of x_values being the index, they are now part of the dataset. Wrapping the argument in curly brackets {} told pandas that both lists were columns. Neither was an index value. As you can see, another column was added on the left -- the default index. If you do not provide a value for the index parameter, pandas will create a default one for you.

Well, now that you have a position-velocity dataset, what's another column you could add? Time! Remember, if you divide position by velocity, you get time.

In [38]:
# Let's first create a list for time
time = [0, 0, 0, 0, 0]

Using a for-loop, let's fill values in time with respect to the position and velocity arrays. We'll start the loop at 1 and not 0 to avoid getting a division by 0 error.

In [52]:
for i in range(1, len(x_values)):
    time[i] = x_values[i] / y_values[i]
    time[i] += time[i-1]
print(time)

[0, 0.5, 1.0, 1.5, 2.0]

Let's add our new array to the existing DataFrame.

In [53]:
df['time'] = time
#print(df)

   position  velocity  time  acceleration
0         0         0   0.0           0.0
1         1         2   0.5           4.0
2         2         4   1.0           8.0
3         3         6   1.5          12.0
4         4         8   2.0          16.0

Now that we have velocity and time, we can totally calculate acceleration.

In [54]:
acceleration = [0, 0, 0, 0, 0]

[0, 4.0, 4.0, 4.0, 4.0]

Write a for-loop to give values to the acceleration list. Again, start with index 1 to avoid getting a division-by-0 error.

In [56]:
# for i in range(1, len(time)):
    # acceleration[i] = 
#print(acceleration)

Add your acceleration list to the existing DataFrame.

In [57]:
# add acceleration
#print(df)

Notice that the acceleration is constant when velocity is increasing at a steady rate.

Now that you've kind of gotten the basics of DataFrames, let's run through some additional methods.

The iloc() method helps you fetch a specific row of data.

In [58]:
# This will return the first row (index 0) of your data
df.iloc[0]

position        0.0
velocity        0.0
time            0.0
acceleration    0.0
Name: 0, dtype: float64

If you want to fetch multiple rows, you can do this using slightly different notation.

In [59]:
df.iloc[0:2]
# This fetches the first TWO rows of data (indexes 0 and 1). 
# Notice that although the upper bound is 2, row 2 is not included. 
# More generally, this can be written as df.iloc[first: last (exclueded)]

   position  velocity  time  acceleration
0         0         0   0.0           0.0
1         1         2   0.5           4.0

Of course, you can do the same things with columns.

In [60]:
df['position'] #this returns only the position column

0    0
1    1
2    2
3    3
4    4
Name: position, dtype: int64

You can also calculate the mean and median of your data using built-in methods. These are pretty easy to use.

In [61]:
df['velocity'].mean()
# this returns the mean, or average, of all the velocity values

4.0

In [62]:
df['position'].median()
# this returns the median of the position values

2.0

On your own, complete the following:

In [63]:
# print out three columns of data separately

In [64]:
# add a column of values of your choice, label it, and print that out by itself

In [65]:
# print out rows 2-4 of your data, inclusive

In [66]:
# find the median and average of the data column that you added